/* GENERAL */

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* HEADING */

#heading {
    text-align: center;
    background: rgb(56, 65, 84);
    padding: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: white;
}

/* MAIN */

.container-fluid {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}

/* search sidebar */
#sidebar {
    background: rgb(244, 241, 241);
    padding: 30px;
    height: 100vh;
}

form {
    margin: 20px 0;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(3, 109, 238);
    border-radius: 8px;
    height: 40px;
    width: 90%;
}

input:focus {
    outline: none;
    background: rgb(227, 234, 243);
}

#search-btn {
    background: rgb(3, 109, 238);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 40px;
    width: 40px;
    margin: -15px;
}

i {
    color: white;
}

i:hover {
    transform: scale(1.4);
    transition: all .2s ease-in-out;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 3px;
    line-height: 2em;
}

.city-btn {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background: white;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.city-btn:hover {
    font-weight: bold;
    background: rgb(55, 54, 54);
    border: none;
    color: white;
}

.city-btn:focus {
    outline: none;
    font-weight: 600;
    background: rgb(198, 198, 198);
}

#clear-btn {
    font-weight: bold;
    color: white;
    background: rgb(233, 71, 71);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

#clear-btn:hover {
    background: rgb(176, 26, 26);
}

/* weather div */
#weather {
    font-family: 'Poppins', sans-serif;
}

/* current weather */
#current-weather {
    border-bottom: 1px solid grey;
}

#current-weather div {
    margin: 12px;
}

#city-name {
    font-weight: 800;
    font-size: 35px;
}

#current-weather img {
    width: 60px;
    height: 60px;
}

#date-div {
    font-weight: 600;
    font-size: 20px;
}

.inline-block {
    display: inline-block;
}

#current-weather p {
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 50px;
}

.favorable {
    background: rgb(79, 159, 79);
    display: inline-block;
}

.moderate {
    background: rgb(237, 174, 57);
    display: inline-block;

}

.severe {
    background: rgb(201, 27, 27);
    display: inline-block;

}

/* forecast weather */
#forecast-heading {
    margin: 20px 0;
}

#forecast-day {
    text-align: center;
}

#forecast-date {
    text-align: center;
    font-weight: 600;
}

#forecast-weather img {
    display: block;
    margin: 0 auto;
}

.forecast-each {
    display: inline-block;
    font-size: 14px;
    background: rgb(169, 216, 245);
    border-radius: 8px;
    margin: 3px;
    padding: 10px;
    width: 19%;
}
