/* HEADING */

#heading {
    text-align: center;
    background: rgb(56, 65, 84);
    padding: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

/* MAIN */

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

/* search sidebar */
#sidebar {
    background: rgb(244, 241, 241);
    padding: 30px;
    height: 100vh;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    background: white;
    margin: 1px;
    line-height: 2em;
}

/* current weather */
#current-weather {
    border: 1px solid grey;
    border-radius: 2px;
    margin: 10px;
    height: 60vh;
}

.favorable {
    background: green;
    display: inline-block;
}

.moderate {
    background: orange;
    display: inline-block;

}

.severe {
    background: red;
    display: inline-block;

}

/* forecast weather */
.forecast-each {
    display: inline-block;
    width: 20%;
}

.inline-block {
    display: inline-block;
}
